In [23]:
import pandas as pd

In [24]:
pd.__version__

'2.2.3'

In [25]:
data = pd.read_csv(r"ONINE_FOOD_DELIVERY_ANALYSIS.csv")

In [26]:
data.head()

,Order_ID,Customer_ID,Customer_Age,Customer_Gender,City,Area,Restaurant_ID,Restaurant_Name,Cuisine_Type,Order_Date,...,Final_Amount,Payment_Mode,Order_Status,Cancellation_Reason,Delivery_Partner_ID,Delivery_Rating,Restaurant_Rating,Order_Day,Peak_Hour,Profit_Margin
0,ORD000001,CUST6948,19.0,Male,NaN,Central,RES936,Restaurant_29,Chinese,10/20/2024,...,NaN,UPI,Delivered,NaN,DP563,5.0,4.4,Weekend,True,0.13
1,ORD000002,CUST6515,NaN,Female,Chennai,North,RES689,Restaurant_419,Chinese,8/12/2024,...,4849.0,COD,Delivered,NaN,DP369,5.0,4.7,Weekday,True,0.48
2,ORD000003,CUST1765,NaN,Male,Delhi,NaN,RES723,Restaurant_244,Arabian,12/8/2024,...,737.0,Wallet,Delivered,NaN,DP580,4.0,4.9,Weekend,True,0.08
3,ORD000004,CUST2744,NaN,Male,Mumbai,Central,RES951,Restaurant_178,Chinese,10/8/2024,...,NaN,UPI,Cancelled,Late Delivery,DP155,2.0,3.4,Weekday,NaN,0.04
4,ORD000005,CUST4389,57.0,Female,Chennai,South,RES419,Restaurant_262,Chinese,2/4/2024,...,352.0,Card,Delivered,NaN,DP728,2.0,4.4,Weekend,False,0.12

In [27]:
data.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Age', 'Customer_Gender', 'City',
       'Area', 'Restaurant_ID', 'Restaurant_Name', 'Cuisine_Type',
       'Order_Date', 'Order_Time', 'Delivery_Time_Min', 'Distance_km',
       'Order_Value', 'Discount_Applied', 'Final_Amount', 'Payment_Mode',
       'Order_Status', 'Cancellation_Reason', 'Delivery_Partner_ID',
       'Delivery_Rating', 'Restaurant_Rating', 'Order_Day', 'Peak_Hour',
       'Profit_Margin'],
      dtype='object')

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Order_ID             100000 non-null  object
 1   Customer_ID          100000 non-null  object
 2   Customer_Age         49907 non-null   float64
 3   Customer_Gender      75144 non-null   object
 4   City                 83274 non-null   object
 5   Area                 83315 non-null   object
 6   Restaurant_ID        100000 non-null  object
 7   Restaurant_Name      100000 non-null  object
 8   Cuisine_Type         83115 non-null   object
 9   Order_Date           98986 non-null   object
 10  Order_Time           98002 non-null   object
 11  Delivery_Time_Min    66641 non-null   float64
 12  Distance_km          66530 non-null   float64
 13  Order_Value          66673 non-null   float64
 14  Discount_Applied     83285 non-null   float64
 15  Final_Amount         44303 non-null   float64
 16  Payment_Mode         80089 non-null   object
 17  Order_Status         100000 non-null  object
 18  Cancellation_Reason  9031 non-null    object
 19  Delivery_Partner_ID  100000 non-null  object
 20  Delivery_Rating      83477 non-null   float64
 21  Restaurant_Rating    100000 non-null  float64
 22  Order_Day            100000 non-null  object
 23  Peak_Hour            67038 non-null   object
 24  Profit_Margin        100000 non-null  float64
dtypes: float64(9), object(16)
memory usage: 19.1+ MB

In [29]:
data.shape

(100000, 25)

In [30]:
"""
Deleting redundant columns.
Renaming the columns.
Dropping duplicates.
Remove the NaN values from the dataset
Cleaning individual columns.
Check for some more Transformations
"""

'\nDeleting redundant columns.\nRenaming the columns.\nDropping duplicates.\nRemove the NaN values from the dataset\nCleaning individual columns.\nCheck for some more Transformations\n'

In [31]:
data.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Age', 'Customer_Gender', 'City',
       'Area', 'Restaurant_ID', 'Restaurant_Name', 'Cuisine_Type',
       'Order_Date', 'Order_Time', 'Delivery_Time_Min', 'Distance_km',
       'Order_Value', 'Discount_Applied', 'Final_Amount', 'Payment_Mode',
       'Order_Status', 'Cancellation_Reason', 'Delivery_Partner_ID',
       'Delivery_Rating', 'Restaurant_Rating', 'Order_Day', 'Peak_Hour',
       'Profit_Margin'],
      dtype='object')

In [32]:
columns_to_keep = ['Order_ID', 'Customer_ID', 'Restaurant_ID', 'Restaurant_Name', 'Cuisine_Type','Order_Date', 'Order_Time','Order_Value', 'Discount_Applied', 'Final_Amount', 'Payment_Mode','Order_Status', 'Cancellation_Reason', 'Delivery_Partner_ID','Delivery_Rating', 'Restaurant_Rating','Order_Day', 'Peak_Hour','Profit_Margin']
columns_to_drop = ['Order_Day','Customer_Age', 'Customer_Gender', 'City', 'Area']

In [33]:
len(columns_to_keep)

19

In [34]:
len(columns_to_drop)

5

In [35]:
# 1st way filtering data

In [46]:
data['Restaurant_Name']

0         Restaurant_29
1        Restaurant_419
2        Restaurant_244
3        Restaurant_178
4        Restaurant_262
              ...
99995    Restaurant_500
99996    Restaurant_458
99997    Restaurant_273
99998    Restaurant_241
99999    Restaurant_237
Name: Restaurant_Name, Length: 100000, dtype: object

In [47]:
columns_to_keep

['Order_ID',
 'Customer_ID',
 'Restaurant_ID',
 'Restaurant_Name',
 'Cuisine_Type',
 'Order_Date',
 'Order_Time',
 'Order_Value',
 'Discount_Applied',
 'Final_Amount',
 'Payment_Mode',
 'Order_Status',
 'Cancellation_Reason',
 'Delivery_Partner_ID',
 'Delivery_Rating',
 'Restaurant_Rating',
 'Order_Day',
 'Peak_Hour',
 'Profit_Margin']

In [51]:
data[columns_to_keep]

,Order_ID,Customer_ID,Restaurant_ID,Restaurant_Name,Cuisine_Type,Order_Date,Order_Time,Order_Value,Discount_Applied,Final_Amount,Payment_Mode,Order_Status,Cancellation_Reason,Delivery_Partner_ID,Delivery_Rating,Restaurant_Rating,Order_Day,Peak_Hour,Profit_Margin
0,ORD000001,CUST6948,RES936,Restaurant_29,Chinese,10/20/2024,0:00,NaN,NaN,NaN,UPI,Delivered,NaN,DP563,5.0,4.4,Weekend,True,0.13
1,ORD000002,CUST6515,RES689,Restaurant_419,Chinese,8/12/2024,0:00,4869.0,20.0,4849.0,COD,Delivered,NaN,DP369,5.0,4.7,Weekday,True,0.48
2,ORD000003,CUST1765,RES723,Restaurant_244,Arabian,12/8/2024,0:00,757.0,20.0,737.0,Wallet,Delivered,NaN,DP580,4.0,4.9,Weekend,True,0.08
3,ORD000004,CUST2744,RES951,Restaurant_178,Chinese,10/8/2024,0:00,NaN,NaN,NaN,UPI,Cancelled,Late Delivery,DP155,2.0,3.4,Weekday,NaN,0.04
4,ORD000005,CUST4389,RES419,Restaurant_262,Chinese,2/4/2024,0:00,372.0,20.0,352.0,Card,Delivered,NaN,DP728,2.0,4.4,Weekend,False,0.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,ORD099996,CUST3722,RES295,Restaurant_500,Arabian,6/10/2024,0:00,232.0,100.0,132.0,Card,Delivered,NaN,DP835,2.0,4.0,Weekday,True,0.17
99996,ORD099997,CUST6158,RES157,Restaurant_458,Arabian,4/22/2024,0:00,1098.0,20.0,1078.0,NaN,Delivered,NaN,DP476,4.0,3.5,Weekday,False,-0.15
99997,ORD099998,CUST2155,RES287,Restaurant_273,NaN,2/23/2024,0:00,NaN,20.0,NaN,COD,Cancelled,NaN,DP577,2.0,4.0,Weekday,True,0.47
99998,ORD099999,CUST3015,RES491,Restaurant_241,NaN,12/10/2024,0:00,NaN,100.0,NaN,NaN,Delivered,NaN,DP896,NaN,4.3,Weekday,NaN,0.44
99999,ORD100000,CUST7959,RES680,Restaurant_237,Chinese,NaN,0:00,2909.0,NaN,NaN,Wallet,Cancelled,NaN,DP908,5.0,4.2,Weekday,False,0.20

In [52]:
#2nd way, dropping the columns

In [ ]:
columns_to_drop

['Order_Day', 'Customer_Age', 'Customer_Gender', 'City', 'Area']

In [62]:
modify_data = data[columns_to_keep]

In [63]:
modify_data

,Order_ID,Customer_ID,Restaurant_ID,Restaurant_Name,Cuisine_Type,Order_Date,Order_Time,Order_Value,Discount_Applied,Final_Amount,Payment_Mode,Order_Status,Cancellation_Reason,Delivery_Partner_ID,Delivery_Rating,Restaurant_Rating,Order_Day,Peak_Hour,Profit_Margin
0,ORD000001,CUST6948,RES936,Restaurant_29,Chinese,10/20/2024,0:00,NaN,NaN,NaN,UPI,Delivered,NaN,DP563,5.0,4.4,Weekend,True,0.13
1,ORD000002,CUST6515,RES689,Restaurant_419,Chinese,8/12/2024,0:00,4869.0,20.0,4849.0,COD,Delivered,NaN,DP369,5.0,4.7,Weekday,True,0.48
2,ORD000003,CUST1765,RES723,Restaurant_244,Arabian,12/8/2024,0:00,757.0,20.0,737.0,Wallet,Delivered,NaN,DP580,4.0,4.9,Weekend,True,0.08
3,ORD000004,CUST2744,RES951,Restaurant_178,Chinese,10/8/2024,0:00,NaN,NaN,NaN,UPI,Cancelled,Late Delivery,DP155,2.0,3.4,Weekday,NaN,0.04
4,ORD000005,CUST4389,RES419,Restaurant_262,Chinese,2/4/2024,0:00,372.0,20.0,352.0,Card,Delivered,NaN,DP728,2.0,4.4,Weekend,False,0.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,ORD099996,CUST3722,RES295,Restaurant_500,Arabian,6/10/2024,0:00,232.0,100.0,132.0,Card,Delivered,NaN,DP835,2.0,4.0,Weekday,True,0.17
99996,ORD099997,CUST6158,RES157,Restaurant_458,Arabian,4/22/2024,0:00,1098.0,20.0,1078.0,NaN,Delivered,NaN,DP476,4.0,3.5,Weekday,False,-0.15
99997,ORD099998,CUST2155,RES287,Restaurant_273,NaN,2/23/2024,0:00,NaN,20.0,NaN,COD,Cancelled,NaN,DP577,2.0,4.0,Weekday,True,0.47
99998,ORD099999,CUST3015,RES491,Restaurant_241,NaN,12/10/2024,0:00,NaN,100.0,NaN,NaN,Delivered,NaN,DP896,NaN,4.3,Weekday,NaN,0.44
99999,ORD100000,CUST7959,RES680,Restaurant_237,Chinese,NaN,0:00,2909.0,NaN,NaN,Wallet,Cancelled,NaN,DP908,5.0,4.2,Weekday,False,0.20

In [64]:
columns_to_drop

['Order_Day', 'Customer_Age', 'Customer_Gender', 'City', 'Area']

In [91]:
data.drop(columns= columns_to_drop, inplace= True)

KeyError: "['Customer_Age', 'City'] not found in axis"

In [93]:
data.shape

(100000, 22)

In [95]:
data.isnull().sum()

Order_ID                   0
Customer_ID                0
Customer_Gender        24856
Area                   16685
Restaurant_Name            0
Cuisine_Type           16885
Order_Date              1014
Order_Time              1998
Delivery_Time_Min      33359
Distance_km            33470
Order_Value            33327
Discount_Applied       16715
Final_Amount           55697
Payment_Mode           19911
Order_Status               0
Cancellation_Reason    90969
Delivery_Partner_ID        0
Delivery_Rating        16523
Restaurant_Rating          0
Order_Day                  0
Peak_Hour              32962
Profit_Margin              0
dtype: int64

In [96]:
data.dtypes

Order_ID                object
Customer_ID             object
Customer_Gender         object
Area                    object
Restaurant_Name         object
Cuisine_Type            object
Order_Date              object
Order_Time              object
Delivery_Time_Min      float64
Distance_km            float64
Order_Value            float64
Discount_Applied       float64
Final_Amount           float64
Payment_Mode            object
Order_Status            object
Cancellation_Reason     object
Delivery_Partner_ID     object
Delivery_Rating        float64
Restaurant_Rating      float64
Order_Day               object
Peak_Hour               object
Profit_Margin          float64
dtype: object

In [97]:
data.describe(include='all')

,Order_ID,Customer_ID,Customer_Gender,Area,Restaurant_Name,Cuisine_Type,Order_Date,Order_Time,Delivery_Time_Min,Distance_km,...,Final_Amount,Payment_Mode,Order_Status,Cancellation_Reason,Delivery_Partner_ID,Delivery_Rating,Restaurant_Rating,Order_Day,Peak_Hour,Profit_Margin
count,100000,100000,75144,83315,100000,83115,98986,98002,66641.000000,66530.000000,...,44303.000000,80089,100000,9031,100000,83477.000000,100000.000000,100000,67038,100000.000000
unique,100000,8999,3,5,500,5,365,1,NaN,NaN,...,NaN,4,2,3,900,NaN,NaN,2,2,NaN
top,ORD099984,CUST2487,Other,South,Restaurant_450,Indian,7/15/2024,0:00,NaN,NaN,...,NaN,Card,Delivered,Late Delivery,DP543,NaN,NaN,Weekday,False,NaN
freq,1,24,25135,16725,246,16685,322,98002,NaN,NaN,...,NaN,20094,84964,3059,144,NaN,NaN,71370,33585,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127.475923,16.449242,...,1961.101190,NaN,NaN,NaN,NaN,2.991531,4.249680,NaN,NaN,0.150362
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.805839,12.256742,...,1557.354417,NaN,NaN,NaN,NaN,1.414108,0.722554,NaN,NaN,0.201888
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000000,1.000000,...,-150.000000,NaN,NaN,NaN,NaN,1.000000,3.000000,NaN,NaN,-0.200000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.000000,5.470000,...,559.000000,NaN,NaN,NaN,NaN,2.000000,3.600000,NaN,NaN,-0.020000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.000000,9.970000,...,1156.000000,NaN,NaN,NaN,NaN,3.000000,4.200000,NaN,NaN,0.150000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210.000000,27.430000,...,3375.000000,NaN,NaN,NaN,NaN,4.000000,4.900000,NaN,NaN,0.320000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300.000000,40.000000,...,4980.000000,NaN,NaN,NaN,NaN,5.000000,5.500000,NaN,NaN,0.500000

In [99]:
#find out the items sold in the restaurant

In [101]:
data.nunique()

Order_ID               100000
Customer_ID              8999
Customer_Gender             3
Area                        5
Restaurant_Name           500
Cuisine_Type                5
Order_Date                365
Order_Time                  1
Delivery_Time_Min         232
Distance_km              3402
Order_Value              4052
Discount_Applied            5
Final_Amount             4574
Payment_Mode                4
Order_Status                2
Cancellation_Reason         3
Delivery_Partner_ID       900
Delivery_Rating             5
Restaurant_Rating          26
Order_Day                   2
Peak_Hour                   2
Profit_Margin              71
dtype: int64

In [103]:
print(data["Cuisine_Type"].nunique())

5

In [ ]:
#Give me the list of least 5 selling items

In [109]:
data.groupby("Cuisine_Type")["Quantity"].sum().sort_values(ascending=False).head()

KeyError: 'Column not found: Quantity'

In [113]:
(data.groupby("Cuisine_Type", as_index=True)["Quantity"].sum().sort_values(ascending=False).head())

KeyError: 'Column not found: Quantity'

In [114]:
data

,Order_ID,Customer_ID,Customer_Gender,Area,Restaurant_Name,Cuisine_Type,Order_Date,Order_Time,Delivery_Time_Min,Distance_km,...,Final_Amount,Payment_Mode,Order_Status,Cancellation_Reason,Delivery_Partner_ID,Delivery_Rating,Restaurant_Rating,Order_Day,Peak_Hour,Profit_Margin
0,ORD000001,CUST6948,Male,Central,Restaurant_29,Chinese,10/20/2024,0:00,187.0,15.75,...,NaN,UPI,Delivered,NaN,DP563,5.0,4.4,Weekend,True,0.13
1,ORD000002,CUST6515,Female,North,Restaurant_419,Chinese,8/12/2024,0:00,20.0,29.50,...,4849.0,COD,Delivered,NaN,DP369,5.0,4.7,Weekday,True,0.48
2,ORD000003,CUST1765,Male,NaN,Restaurant_244,Arabian,12/8/2024,0:00,207.0,NaN,...,737.0,Wallet,Delivered,NaN,DP580,4.0,4.9,Weekend,True,0.08
3,ORD000004,CUST2744,Male,Central,Restaurant_178,Chinese,10/8/2024,0:00,143.0,15.68,...,NaN,UPI,Cancelled,Late Delivery,DP155,2.0,3.4,Weekday,NaN,0.04
4,ORD000005,CUST4389,Female,South,Restaurant_262,Chinese,2/4/2024,0:00,51.0,9.60,...,352.0,Card,Delivered,NaN,DP728,2.0,4.4,Weekend,False,0.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,ORD099996,CUST3722,NaN,NaN,Restaurant_500,Arabian,6/10/2024,0:00,NaN,NaN,...,132.0,Card,Delivered,NaN,DP835,2.0,4.0,Weekday,True,0.17
99996,ORD099997,CUST6158,Male,East,Restaurant_458,Arabian,4/22/2024,0:00,46.0,NaN,...,1078.0,NaN,Delivered,NaN,DP476,4.0,3.5,Weekday,False,-0.15
99997,ORD099998,CUST2155,NaN,East,Restaurant_273,NaN,2/23/2024,0:00,34.0,18.57,...,NaN,COD,Cancelled,NaN,DP577,2.0,4.0,Weekday,True,0.47
99998,ORD099999,CUST3015,Female,North,Restaurant_241,NaN,12/10/2024,0:00,65.0,3.77,...,NaN,NaN,Delivered,NaN,DP896,NaN,4.3,Weekday,NaN,0.44
99999,ORD100000,CUST7959,Other,East,Restaurant_237,Chinese,NaN,0:00,68.0,NaN,...,NaN,Wallet,Cancelled,NaN,DP908,5.0,4.2,Weekday,False,0.20

In [115]:
data.dtypes

Order_ID                object
Customer_ID             object
Customer_Gender         object
Area                    object
Restaurant_Name         object
Cuisine_Type            object
Order_Date              object
Order_Time              object
Delivery_Time_Min      float64
Distance_km            float64
Order_Value            float64
Discount_Applied       float64
Final_Amount           float64
Payment_Mode            object
Order_Status            object
Cancellation_Reason     object
Delivery_Partner_ID     object
Delivery_Rating        float64
Restaurant_Rating      float64
Order_Day               object
Peak_Hour               object
Profit_Margin          float64
dtype: object

In [117]:
data.describe

<bound method NDFrame.describe of         Order_ID Customer_ID Customer_Gender     Area Restaurant_Name  \
0      ORD000001    CUST6948            Male  Central   Restaurant_29
1      ORD000002    CUST6515          Female    North  Restaurant_419
2      ORD000003    CUST1765            Male      NaN  Restaurant_244
3      ORD000004    CUST2744            Male  Central  Restaurant_178
4      ORD000005    CUST4389          Female    South  Restaurant_262
...          ...         ...             ...      ...             ...
99995  ORD099996    CUST3722             NaN      NaN  Restaurant_500
99996  ORD099997    CUST6158            Male     East  Restaurant_458
99997  ORD099998    CUST2155             NaN     East  Restaurant_273
99998  ORD099999    CUST3015          Female    North  Restaurant_241
99999  ORD100000    CUST7959           Other     East  Restaurant_237

      Cuisine_Type  Order_Date Order_Time  Delivery_Time_Min  Distance_km  \
0          Chinese  10/20/2024       0:00              187.0        15.75
1          Chinese   8/12/2024       0:00               20.0        29.50
2          Arabian   12/8/2024       0:00              207.0          NaN
3          Chinese   10/8/2024       0:00              143.0        15.68
4          Chinese    2/4/2024       0:00               51.0         9.60
...            ...         ...        ...                ...          ...
99995      Arabian   6/10/2024       0:00                NaN          NaN
99996      Arabian   4/22/2024       0:00               46.0          NaN
99997          NaN   2/23/2024       0:00               34.0        18.57
99998          NaN  12/10/2024       0:00               65.0         3.77
99999      Chinese         NaN       0:00               68.0          NaN

       ...  Final_Amount  Payment_Mode  Order_Status Cancellation_Reason  \
0      ...           NaN           UPI     Delivered                 NaN
1      ...        4849.0           COD     Delivered                 NaN
2      ...         737.0        Wallet     Delivered                 NaN
3      ...           NaN           UPI     Cancelled       Late Delivery
4      ...         352.0          Card     Delivered                 NaN
...    ...           ...           ...           ...                 ...
99995  ...         132.0          Card     Delivered                 NaN
99996  ...        1078.0           NaN     Delivered                 NaN
99997  ...           NaN           COD     Cancelled                 NaN
99998  ...           NaN           NaN     Delivered                 NaN
99999  ...           NaN        Wallet     Cancelled                 NaN

      Delivery_Partner_ID Delivery_Rating Restaurant_Rating  Order_Day  \
0                   DP563             5.0               4.4    Weekend
1                   DP369             5.0               4.7    Weekday
2                   DP580             4.0               4.9    Weekend
3                   DP155             2.0               3.4    Weekday
4                   DP728             2.0               4.4    Weekend
...                   ...             ...               ...        ...
99995               DP835             2.0               4.0    Weekday
99996               DP476             4.0               3.5    Weekday
99997               DP577             2.0               4.0    Weekday
99998               DP896             NaN               4.3    Weekday
99999               DP908             5.0               4.2    Weekday

       Peak_Hour Profit_Margin
0           True          0.13
1           True          0.48
2           True          0.08
3            NaN          0.04
4          False          0.12
...          ...           ...
99995       True          0.17
99996      False         -0.15
99997       True          0.47
99998        NaN          0.44
99999      False          0.20

[100000 rows x 22 columns]>

In [118]:
data

,Order_ID,Customer_ID,Customer_Gender,Area,Restaurant_Name,Cuisine_Type,Order_Date,Order_Time,Delivery_Time_Min,Distance_km,...,Final_Amount,Payment_Mode,Order_Status,Cancellation_Reason,Delivery_Partner_ID,Delivery_Rating,Restaurant_Rating,Order_Day,Peak_Hour,Profit_Margin
0,ORD000001,CUST6948,Male,Central,Restaurant_29,Chinese,10/20/2024,0:00,187.0,15.75,...,NaN,UPI,Delivered,NaN,DP563,5.0,4.4,Weekend,True,0.13
1,ORD000002,CUST6515,Female,North,Restaurant_419,Chinese,8/12/2024,0:00,20.0,29.50,...,4849.0,COD,Delivered,NaN,DP369,5.0,4.7,Weekday,True,0.48
2,ORD000003,CUST1765,Male,NaN,Restaurant_244,Arabian,12/8/2024,0:00,207.0,NaN,...,737.0,Wallet,Delivered,NaN,DP580,4.0,4.9,Weekend,True,0.08
3,ORD000004,CUST2744,Male,Central,Restaurant_178,Chinese,10/8/2024,0:00,143.0,15.68,...,NaN,UPI,Cancelled,Late Delivery,DP155,2.0,3.4,Weekday,NaN,0.04
4,ORD000005,CUST4389,Female,South,Restaurant_262,Chinese,2/4/2024,0:00,51.0,9.60,...,352.0,Card,Delivered,NaN,DP728,2.0,4.4,Weekend,False,0.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,ORD099996,CUST3722,NaN,NaN,Restaurant_500,Arabian,6/10/2024,0:00,NaN,NaN,...,132.0,Card,Delivered,NaN,DP835,2.0,4.0,Weekday,True,0.17
99996,ORD099997,CUST6158,Male,East,Restaurant_458,Arabian,4/22/2024,0:00,46.0,NaN,...,1078.0,NaN,Delivered,NaN,DP476,4.0,3.5,Weekday,False,-0.15
99997,ORD099998,CUST2155,NaN,East,Restaurant_273,NaN,2/23/2024,0:00,34.0,18.57,...,NaN,COD,Cancelled,NaN,DP577,2.0,4.0,Weekday,True,0.47
99998,ORD099999,CUST3015,Female,North,Restaurant_241,NaN,12/10/2024,0:00,65.0,3.77,...,NaN,NaN,Delivered,NaN,DP896,NaN,4.3,Weekday,NaN,0.44
99999,ORD100000,CUST7959,Other,East,Restaurant_237,Chinese,NaN,0:00,68.0,NaN,...,NaN,Wallet,Cancelled,NaN,DP908,5.0,4.2,Weekday,False,0.20

In [119]:
data["Order_ID"].nunique

<bound method IndexOpsMixin.nunique of 0        ORD000001
1        ORD000002
2        ORD000003
3        ORD000004
4        ORD000005
           ...
99995    ORD099996
99996    ORD099997
99997    ORD099998
99998    ORD099999
99999    ORD100000
Name: Order_ID, Length: 100000, dtype: object>

In [121]:
data["Customer_ID"].nunique

<bound method IndexOpsMixin.nunique of 0        CUST6948
1        CUST6515
2        CUST1765
3        CUST2744
4        CUST4389
           ...
99995    CUST3722
99996    CUST6158
99997    CUST2155
99998    CUST3015
99999    CUST7959
Name: Customer_ID, Length: 100000, dtype: object>

In [129]:
data["Order_Time"].value_counts().sort_index()

Order_Time
0:00    98002
Name: count, dtype: int64

In [130]:
data["Order_Date"].value_counts().sort_index()

Order_Date
1/1/2024     263
1/10/2024    298
1/11/2024    252
1/12/2024    286
1/13/2024    266
            ...
9/5/2024     266
9/6/2024     268
9/7/2024     262
9/8/2024     308
9/9/2024     274
Name: count, Length: 365, dtype: int64

In [133]:
data["Customer_ID"].value_counts()

Customer_ID
CUST2487    24
CUST9262    23
CUST7657    23
CUST4431    23
CUST7842    23
            ..
CUST8380     1
CUST8726     1
CUST2201     1
CUST5157     1
CUST4958     1
Name: count, Length: 8999, dtype: int64

In [134]:
data["Customer_ID"].value_counts().head(10)

Customer_ID
CUST2487    24
CUST9262    23
CUST7657    23
CUST4431    23
CUST7842    23
CUST1239    22
CUST8740    22
CUST7320    22
CUST5467    22
CUST9003    22
Name: count, dtype: int64

In [136]:
data["Order_Time"].value_counts().sort_index()

Order_Time
0:00    98002
Name: count, dtype: int64

In [139]:
data.groupby("Cuisine_Type")["Order_ID"].count().sort_values(ascending=False)

Cuisine_Type
Indian     16685
Arabian    16658
Chinese    16651
Mexican    16602
Italian    16519
Name: Order_ID, dtype: int64

In [141]:
data.sort_values("Order_Value", ascending=False).head(10)

,Order_ID,Customer_ID,Customer_Gender,Area,Restaurant_Name,Cuisine_Type,Order_Date,Order_Time,Delivery_Time_Min,Distance_km,...,Final_Amount,Payment_Mode,Order_Status,Cancellation_Reason,Delivery_Partner_ID,Delivery_Rating,Restaurant_Rating,Order_Day,Peak_Hour,Profit_Margin
39019,ORD039020,CUST7760,Other,North,Restaurant_193,Arabian,8/20/2024,0:00,NaN,3.40,...,NaN,NaN,Delivered,NaN,DP316,5.0,4.4,Weekday,NaN,0.17
95820,ORD095821,CUST3511,Other,North,Restaurant_70,Chinese,6/19/2024,0:00,297.0,NaN,...,NaN,COD,Delivered,NaN,DP885,2.0,5.2,Weekday,NaN,0.01
31941,ORD031942,CUST9577,Other,South,Restaurant_217,Arabian,12/6/2024,0:00,237.0,1.21,...,4980.0,NaN,Delivered,NaN,DP659,2.0,5.0,Weekday,NaN,0.48
94687,ORD094688,CUST8255,Other,South,Restaurant_465,Italian,12/7/2024,0:00,NaN,NaN,...,NaN,UPI,Cancelled,Late Delivery,DP735,1.0,3.8,Weekend,True,0.19
38716,ORD038717,CUST9121,Female,NaN,Restaurant_199,Indian,5/11/2024,0:00,56.0,NaN,...,4950.0,Wallet,Delivered,NaN,DP736,2.0,3.5,Weekend,True,0.04
11350,ORD011351,CUST2892,Female,West,Restaurant_495,Italian,1/14/2024,0:00,56.0,33.74,...,4980.0,NaN,Delivered,NaN,DP263,5.0,4.6,Weekend,NaN,0.34
30281,ORD030282,CUST6975,Female,West,Restaurant_43,Italian,2/18/2024,0:00,192.0,NaN,...,4950.0,Wallet,Delivered,NaN,DP864,1.0,3.9,Weekend,True,-0.05
85416,ORD085417,CUST9310,Male,South,Restaurant_401,Italian,3/15/2024,0:00,38.0,NaN,...,4950.0,NaN,Delivered,NaN,DP986,1.0,3.9,Weekday,True,0.34
83028,ORD083029,CUST5128,Male,South,Restaurant_257,Italian,1/18/2024,0:00,227.0,NaN,...,4900.0,COD,Delivered,NaN,DP647,2.0,4.4,Weekday,True,0.09
81395,ORD081396,CUST9010,NaN,West,Restaurant_325,Italian,12/12/2024,0:00,NaN,30.52,...,4700.0,UPI,Delivered,NaN,DP847,2.0,5.1,Weekday,False,-0.17

In [142]:
data["Order_Date"].value_counts().sort_index()

Order_Date
1/1/2024     263
1/10/2024    298
1/11/2024    252
1/12/2024    286
1/13/2024    266
            ...
9/5/2024     266
9/6/2024     268
9/7/2024     262
9/8/2024     308
9/9/2024     274
Name: count, Length: 365, dtype: int64

In [147]:
data.groupby("Restaurant_Name")["Order_ID"].count() \
    .sort_values(ascending=False) \
    .head(10)

Restaurant_Name
Restaurant_450    246
Restaurant_309    238
Restaurant_144    237
Restaurant_74     236
Restaurant_435    234
Restaurant_291    234
Restaurant_221    234
Restaurant_338    233
Restaurant_87     233
Restaurant_346    232
Name: Order_ID, dtype: int64

In [148]:
data.groupby("Restaurant_Name")["Order_Value"].sum() \
    .sort_values(ascending=False) \
    .head(10)

Restaurant_Name
Restaurant_221    361464.0
Restaurant_89     349387.0
Restaurant_382    347794.0
Restaurant_368    345126.0
Restaurant_400    343695.0
Restaurant_467    342908.0
Restaurant_277    339446.0
Restaurant_428    339406.0
Restaurant_312    338353.0
Restaurant_175    335875.0
Name: Order_Value, dtype: float64

In [149]:
data.groupby("Restaurant_Name")["Order_Value"].mean() \
    .sort_values(ascending=False) \
    .head(10)

Restaurant_Name
Restaurant_489    2430.969466
Restaurant_179    2411.968000
Restaurant_464    2379.409836
Restaurant_165    2369.677966
Restaurant_361    2369.239316
Restaurant_495    2368.875912
Restaurant_330    2366.780303
Restaurant_174    2360.471831
Restaurant_391    2360.153226
Restaurant_91     2359.774194
Name: Order_Value, dtype: float64

In [150]:
data.groupby(["Restaurant_Name", "Order_Date"])["Order_ID"].count()

Restaurant_Name  Order_Date
Restaurant_1     1/1/2024      1
                 1/14/2024     1
                 1/16/2024     1
                 1/17/2024     1
                 1/18/2024     1
                              ..
Restaurant_99    9/14/2024     1
                 9/18/2024     1
                 9/20/2024     1
                 9/30/2024     2
                 9/5/2024      1
Name: Order_ID, Length: 76226, dtype: int64

In [151]:
data.groupby("Restaurant_Name")["Order_ID"].count() \
    .sort_values() \
    .head(10)

Restaurant_Name
Restaurant_231    153
Restaurant_398    157
Restaurant_290    158
Restaurant_288    163
Restaurant_311    164
Restaurant_473    165
Restaurant_81     166
Restaurant_109    167
Restaurant_376    167
Restaurant_268    167
Name: Order_ID, dtype: int64

In [152]:
performance = data.groupby("Restaurant_Name").agg(
    Total_Orders=("Order_ID", "count"),
    Total_Revenue=("Order_Value", "sum"),
    Avg_Order_Value=("Order_Value", "mean")
)

performance.sort_values("Total_Revenue", ascending=False).head(10)

                 Total_Orders  Total_Revenue  Avg_Order_Value
Restaurant_Name
Restaurant_221            234       361464.0      2287.746835
Restaurant_89             219       349387.0      2283.575163
Restaurant_382            225       347794.0      2273.163399
Restaurant_368            219       345126.0      2285.602649
Restaurant_400            220       343695.0      2291.300000
Restaurant_467            226       342908.0      2029.041420
Restaurant_277            211       339446.0      2262.973333
Restaurant_428            222       339406.0      2218.339869
Restaurant_312            214       338353.0      2197.097403
Restaurant_175            222       335875.0      2316.379310

In [153]:
data["Order_Value"].sum()

np.float64(138801860.0)

In [155]:
data.groupby("Order_Date")["Order_Value"].sum()

Order_Date
1/1/2024     378946.0
1/10/2024    408697.0
1/11/2024    321528.0
1/12/2024    441371.0
1/13/2024    376587.0
               ...
9/5/2024     370353.0
9/6/2024     406458.0
9/7/2024     359768.0
9/8/2024     452201.0
9/9/2024     385913.0
Name: Order_Value, Length: 365, dtype: float64

In [157]:
data["Estimated_Profit"] = data["Order_Value"] * 0.20

In [158]:
data["Estimated_Profit"].sum()

np.float64(27760372.0)

In [159]:
data.groupby("Restaurant_Name")["Estimated_Profit"].sum() \
    .sort_values(ascending=False)

Restaurant_Name
Restaurant_221    72292.8
Restaurant_89     69877.4
Restaurant_382    69558.8
Restaurant_368    69025.2
Restaurant_400    68739.0
                   ...
Restaurant_102    40316.0
Restaurant_473    40154.4
Restaurant_250    39844.6
Restaurant_81     39736.6
Restaurant_290    38594.4
Name: Estimated_Profit, Length: 500, dtype: float64

In [160]:
data.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Gender', 'Area', 'Restaurant_Name',
       'Cuisine_Type', 'Order_Date', 'Order_Time', 'Delivery_Time_Min',
       'Distance_km', 'Order_Value', 'Discount_Applied', 'Final_Amount',
       'Payment_Mode', 'Order_Status', 'Cancellation_Reason',
       'Delivery_Partner_ID', 'Delivery_Rating', 'Restaurant_Rating',
       'Order_Day', 'Peak_Hour', 'Profit_Margin', 'Estimated_Profit'],
      dtype='object')

In [161]:
data["Order_Status"].value_counts()

Order_Status
Delivered    84964
Cancelled    15036
Name: count, dtype: int64

In [162]:
(data["Order_Status"] == "Cancelled").mean() * 100

np.float64(15.036)

In [163]:
kpi = {
    "Total_Revenue": data["Order_Value"].sum(),
    "Estimated_Profit": (data["Order_Value"] * 0.20).sum(),
    "Total_Orders": data["Order_ID"].nunique()
}

kpi

{'Total_Revenue': np.float64(138801860.0),
 'Estimated_Profit': np.float64(27760372.0),
 'Total_Orders': 100000}